/* popup.css */
body {
  font-family: Arial, 'Poppins', sans-serif;
  padding: 30px;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 260px; /* 팝업 너비 */
  height: 420px; /* 팝업 높이 */
}

.container {
  display: flex;
  align-items: center; /* 이미지와 텍스트를 세로 중앙 정렬 */
  justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
  position: relative; /* 자식 요소의 절대 위치를 기준으로 삼기 위해 설정 */
}

.inline-image {
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
  width: 28px;
  height: 28px;
}

.inline-text {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 19px;
  background: linear-gradient(180deg, #FE8D33 0%, #F84401 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  align-self: flex-end; /* 텍스트를 아래로 정렬 */
  margin-right: 20px; /* 텍스트와 버튼 컨테이너 사이의 간격 */
}

.button-container {
  display: flex;
  gap: 10px; /* 버튼들 사이의 간격을 설정 */
  margin-left: auto;
  align-self: flex-end;
}

.png-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.button-image {
  width: 15px; /* 버튼 이미지의 너비를 설정하세요 */
  height: 15px; /* 버튼 이미지의 높이를 설정하세요 */
}


.container2 {
  display: flex;
  justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */

  position: relative; /* 자식 요소의 절대 위치를 기준으로 삼기 위해 설정 */
  padding: 10px;
}

.cyft {
  font-style: normal;
  font-weight: 470;
  font-size: 15px;
  color: #000000;
  align-self: flex-end; /* 텍스트를 아래로 정렬 */
}


/* 토글 컨테이너 */
.switch {
position: relative;
display: inline-block;
width: 35.3px;
height: 19.6px;
margin: 0px;
margin-top: 20px;
margin-left: auto;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* 토글 슬라이더 */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #EFEFEF;
transition: .4s;
border-radius: 50px;
box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
}

/* 이벤트 핸들러 */
.slider:before {
position: absolute;
content: "";
height: 70.3%;
width: 38%;
left: 8%;
bottom: 14.8%;
background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%);
transition: .4s;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 토글 슬라이더 온 상태 */
.switch input:checked + .slider {
background: #FF7907;
}

.switch input:checked + .slider:before {
transform: translateX(120%);
}

.stopwatch {
  margin-top: 20px;
}

button {
  margin: 10px;
}

#time {
  font-size: 48px;
  margin-top: 20px;
}