body *:lang(ko) {
    font-family: 'Noto Sans KR', sans-serif;
  }

body {
    font-family: 'Poppins', sans-serif;
    width: 360px;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
#register-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 37px;
    background: linear-gradient(180deg, #FE8D33 0%, #F84401 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    align-self: flex-start;
}

.register-input input[type="email"],
.register-input input[type="text"],
.register-input input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}

#register-button{
    background-color: #FF7907;
    color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
}