/* popup.css */
body {
  font-family: 'Lato', sans-serif;
  padding: 30px;
  background-color: #f9f9f9;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 400px; /* 팝업 너비 */
  height: 600px; /* 팝업 높이 */
}

.container {
    display: flex;
    align-items: center; /* 이미지와 텍스트를 세로 중앙 정렬 */
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
    position: relative; /* 자식 요소의 절대 위치를 기준으로 삼기 위해 설정 */
}

.inline-image {
    margin-right: 15px; /* 이미지와 텍스트 사이의 간격 조절 */
    width: 30px;
    heigy: 30px;
}

.inline-text {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    background: linear-gradient(180deg, #FE8D33 0%, #F84401 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-self: flex-end; /* 텍스트를 아래로 정렬 */
}


.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

/* Button 1 스타일 */
.button1 {
  background-color: #4CAF50;
  color: white;
}

.button1:hover {
  background-color: #45a049;
}

/* Button 2 스타일 */
.button2 {
  background-color: #2196F3;
  color: white;
}

.button2:hover {
  background-color: #1E88E5;
}

/* Options 버튼 스타일 */
.button3 {
  background-color: #ff9800;
  color: white;
}

.button3:hover {
  background-color: #fb8c00;
}

/* 토글 컨테이너*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 10px 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* 토글 슬라이더 기본 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 50px;
}

/* 이벤트핸들러 기본 */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* 토글 슬라이더 오프 */
.switch1 .slider {
  /*background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%); */
  background: #EFEFEF;
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
}

/* 토글 슬라이더 온 */
.switch1 input:checked + .slider {
  background: #FF7907;
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
}

.switch1 .slider:before {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 토글 이벤트 핸들러 */
.switch1 input:checked + .slider:before {
  transform: translateX(23px);
}


/* 토글 스위치 2 스타일 */
.switch2 .slider {
  background-color: #f44336;
}

.switch2 input:checked + .slider {
  background-color: #e53935;
}

.switch2 input:checked + .slider:before {
  transform: translateX(26px);
}